---
import MainLayout from "../layouts/MainLayout.astro";
import { withBase } from "../utils/helpers";
import siteConfig from "../site.config";
---

<MainLayout activePage="404" pageTitle={siteConfig.title + " | 404"}>
  <div class="flex flex-col items-center justify-center page-content my-16 text-center">
    <h1 class="text-6xl font-bold mb-4">404</h1>
    <p class="kanit-light text-lg mb-6">Page not found.</p>
    <p class="kanit-light">
      <a class="font-medium underline" href={withBase("/")}>Go back home</a>
    </p>
  </div>
</MainLayout>
