---
const {
  activePage,
  links,
  isMobileLink = false,
} = Astro.props as {
  activePage: string;
  links: { text: string; href: string }[];
  isMobileLink?: boolean;
};
---

{
  links?.map((link) => {
    const linkSlug = link.text.toLowerCase().replace(/\s+/g, "-");
    const classNames = [
      isMobileLink ? "close-menu block text-lg" : "",
      activePage === linkSlug
        ? "text-action-orange!"
        : "",
    ]
      .join(" ")
      .trim();
    return (
      <a class={classNames} href={link.href}>
        {link.text}
      </a>
    );
  })
}
