---
import { withBase } from "../utils/helpers";

type SiteIdentityProps = {
  textSize?: "text-base" | "text-xl";
  class?: string;
};

const {
  textSize = "text-base",
  class: customClass,
}: SiteIdentityProps = Astro.props;
const logoSrc = withBase("/resources/logos/sitelogosmall.png");
---

<div class:list={["flex items-center gap-2", customClass]}>
  <img
    src={logoSrc}
    alt="MCRI Logo"
    class="h-auto w-auto"
    style="max-height: 24px;"
  />
  <span class:list={["font-semibold", textSize]}>MCRI</span>
</div>
